<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2 mt-2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<h2>Section title</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!people.length">
        <td colspan="5">
          {{loading ? 'Loading Records...' : 'No records found'}}
        </td>
      </tr>
      <tr *ngFor="let person of people">
        <td>{{person.id}}</td>
        <td>{{person.firstName}} {{person.lastName}}</td>
        <td>{{person.email}}</td>
        <td>{{person.phoneNumber}}</td>
        <td>
          <button class="btn btn-primary mr-2" (click)="editPerson(person)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger" (click)="deletePerson(person)">
            <i class="fas fa-window-close"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>